<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMessageBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16C788A11F567F3000FF81A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C788B81F567F3000FF81A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C788C31F567F3000FF81A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
