<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IpadDraw1483998.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87B0E1731F45914200434411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B0E1871F45914200434411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B0E1921F45914200434411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
