<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDatabase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C090D8B71F52BD35004614BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C090D8CE1F52BD36004614BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C090D8D91F52BD36004614BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
